$light: #fff;
$dark: #000;
$bg-color: #2B2C30;
$fixed-color: #0b0d0c5a;
$btn-color:#FFA200;
$skills-html: #E45126;
$skills-css: #0C73B8;
$skills-js: #E3A324;
$skills-jq: #30DD6D;
$skills-dg: #6D7EB8;
$skills-fg: #cb0b5b;
$primary-color: #6A78FD;
$font-stack: 'Poppins', sans-serif;
$center: center;
$box-shadow: 3px 3px 3px #222327,-3px -3px 3px #363636;